@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --accent: 60 4.8% 95.9%;
  }
}

@layer base {
  * {
    @apply border-border transition duration-300 ease-in-out;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Raleway", sans-serif;
  }
}
