<div class="m-auto mt-12 max-w-screen-md">
  <div class="flex justify-between items-center">
    <div class="ml-6">
      <h3 class="text-lg sm:text-xl font-medium">Today's schedule</h3>
      <h4 class="text-base sm:text-lg font-semibold text-primary">
        {{ formattedDate }}
      </h4>
    </div>
    <app-task-creator />
  </div>
  <div *ngIf="tasks && tasks.length === 0" class="mt-10 text-center">
    <h5 class="text-muted-foreground text-base">
      You have no tasks scheduled for today.
    </h5>
  </div>
  <div *ngFor="let task of tasks" class="mt-3 flex-col flex">
    <app-task
      [id]="task.id"
      [task]="task.description"
      [hour]="task.executionTime"
      [completed]="task.completed"
    />
  </div>
</div>
