<header class="px-4 py-3 border-b">
  <div class="m-auto max-w-screen-lg flex justify-between items-center">
    <h1 class="text-base font-bold">Taslky</h1>
    <div *ngIf="!user">
      <button (click)="handleLogin()" class="px-3 py-2 text-sm font-medium">
        Sign in
      </button>
    </div>
    <div *ngIf="user" class="relative">
      <button
        (click)="toggleProfileMenu()"
        id="profile-menu-btn"
        class="w-10 h-10"
      >
        <img src="{{ user.avatar }}" alt="user.avatar" class="rounded-full" />
      </button>
      <div
        *ngIf="showProfileMenu"
        id="profile-menu"
        class="absolute right-0 p-1 w-36 bg-background rounded-md border shadow-lg"
      >
        <!-- <a
          class="w-full block px-2 py-1.5 hover:bg-accent rounded-sm text-sm cursor-pointer text-left"
          >Settings</a
        > -->
        <button
          (click)="handleLogout()"
          class="w-full block px-2 py-1.5 hover:bg-accent rounded-sm text-sm cursor-pointer text-left"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</header>
