@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: "Raleway", sans-serif;
  }
}
